<section class="flex flex-col gap-10 w-full">
  <header class="flex justify-between items-center pb-2 border-b border-emerald-600">
    <h1><%= BulkRegister.model_name.human(count: 2) %></h1>

    <%= link_to t('.new_file_upload'), new_bulk_register_path(Current.user), class: 'hover:cursor-pointer flex w-fit items-center justify-center h-12 gap-2 px-6 text-sm font-medium tracking-wide text-white transition duration-300 rounded focus-visible:outline-none whitespace-nowrap bg-emerald-500 hover:bg-emerald-600 focus:bg-emerald-700' %>
  </header>

  <% if @bulk_registers.exists? %>
    <ul class="flex flex-col gap-4">
      <%= render @bulk_registers %>
    </ul>
  <% else %>
    <p><%= t('.no_files_yet')%></p>
  <% end %>
</section>